# Postgres
POSTGRES_PASSWORD=secret
DATABASE_URL=postgresql+asyncpg://rag_user:secret@postgres:5432/rag_db

# MongoDB
MONGO_URI=mongodb://mongodb:27017
MONGO_DB=rag_sessions

# Qdrant
QDRANT_URL=http://qdrant:6333

# Auth
JWT_SECRET=supersecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# LLM
OPENAI_API_KEY=sk-...

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=ls__...
LANGCHAIN_PROJECT=agentic-rag